.copyright {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #aaaaaa;

  &-details {
    margin: 20px 30px 10px 10px;
    text-align: right;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #aaaaaa;
  }

  &-link {
    color: #aaaaaa;
  }
}
