.notifications {
  &-btn {
    width: 25px;
    height: 25px;
    background-image: url("../img/notifications.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-color: transparent;
    border: none;
  }

  &-btn span {
    display: inline-block;
    position: relative;
    right: -5px;
    top: -5px;
    width: 18px;
    height: 18px;
    font-weight: 900;
    font-size: 10px;
    line-height: 14px;
    color: $color-default-white;
    background-color: #ff8f0b;
    border-radius: 50%;
    border: 2px solid $color-default-white;
  }
}
